
<a>User: {{ user.username }}</a>
<h1>Todo List</h1>
<table style="width:30%">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Was done?</th>
    <th>Options</th>
  </tr>
{% load el_pagination_tags %}

{% paginate object_list %}
  {% for todo in object_list %}
    <tr>
        <th>
            {{ todo.id }}
        </th>
        <th>
            {{ todo.title }}
        </th>
        <th>
            {{ todo.done }}
        </th>
        <th>
            <a href="{% url 'todo_update' todo.id %}">Edit</a>
            <a href="{% url 'todo_reassign' todo.id %}">Reassign</a>
            <a href="{% url 'todo_delete' todo.id %}">Delete</a>
        </th>
  </tr>
  {% empty %}
    </table>
    <h5>No todo yet.</h5>
  {% endfor %}
</table>
<h4>{% show_pages %}</h4>
{% get_pages %}
<h4>Previous: {{ pages.previous.number }}</h4>
<h4>Next: {{ pages.next.number }}</h4>
<a href="{% url 'todo_create' %}">Create</a>
<a href="{% url 'logout' %}">Logout</a>



