{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<div class="card bg-light mb-3">
    <div class="card-header row">
        <div class="col-sm-11">User: {{ user.username }}</div>
        <div class="col-sm-1"><a href="{% url 'logout' %}">Logout</a></div>

    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-18">
                    <h1 class="card-title">Todo List</h1>
                </div>
                <div class="col-sm-17"></div>
            </div>
        </div>
    </div>
</div>
{% block content %}
<div class="container-fluid">
    <div class="row mb-4" >
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <a href="{% url 'todo_create' %}">
                <button type="button" class="btn btn-success">+ New Todo</button>
            </a>
        </div>
        <div class="col-sm-8"></div>
    </div>
</div>
<div class="container">
<form method="GET">
    <a class="mr-4">{{ filter.form}}</a>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<div class="row">
    <div class="col-sm-10">
        <table class="table" >
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Title</th>
    <th scope="col">Was done?</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
{% load el_pagination_tags %}

{% paginate filter.qs as a%}
  {% for todo in a %}
    <tr>
        <th>
            {{ todo.id }}
        </th>
        <th>
            {{ todo.title }}
        </th>
        <th>
            {{ todo.done }}
        </th>
        <th>
            <a href="{% url 'todo_update' todo.id %}">
                <button type="button" class="btn btn-light" >Edit</button>
            </a>
            <a href="{% url 'todo_reassign' todo.id %}">
                <button type="button" class="btn btn-light" >Reassign</button>
            </a>
            <a href="{% url 'todo_delete' todo.id %}">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
        </th>
  </tr>
  {% empty %}
    </table>
    <h5>No todo yet.</h5>
  {% endfor %}
</table>
    </div>
    <div class="col-sm-2"></div>
</div>


<nav aria-label="Page navigation example">
    {% get_pages %}
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{{ pages.previous.path }}">Previous</a>
    </li>
      {% for page in pages %}
          {% if page.number == pages.current.number %}
              <li class="page-item active" aria-current="page">
                  <a class="page-link" href="{{ page.path }}">{{ page.number }} <span class="sr-only">(current)</span></a>
              </li>
          {% else %}
    <li class="page-item"><a class="page-link" href="{{ page.path }}">{{ page.number }}</a></li>
          {% endif %}
      {% endfor %}
    <li class="page-item"><a class="page-link" href="{{ pages.next.path }}">Next</a></li>
  </ul>
</nav>


</div>
{% endblock content%}

